@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Neucha&family=Open+Sans&family=Rock+Salt&display=swap');

header, body {
  margin: 5%;
   background-color: #112e51;
   color: #ffffff;
   
  /* background-image: url("backgroundimg.png");  */
}
.column{
    float: right;
    width: 50%;
    padding: 5px;
}
    
/* .images{
    position : fixed;
} */
a{
  /* color: #ffffff; */
  color: #22c5dd;
}
p, li{
    font-size: large;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}


h1{
    font-family: 'Neucha',cursive;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-top: 5%;
    color: #C5DD22;
    
}
h2,h3{
    font-family: 'Neucha',cursive;
    color: #C5DD22;
    /* margin-left:5%; */
}

.section {
    position: relative;
  /* background-color: navy; */
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  height: auto;
}
.graph#d3-container-3{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 50% 50%;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}



.section#one {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 40% 60%;
  margin-top: 0%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.section#one > .text {
  height: auto;
  grid-column: 1 / 3;
  position: relative;
}

.section#one > .graph {
  grid-column: 3/4;
  position: relative;
  vertical-align: text-top;
}

.section#three {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 60% 40%;
  position: relative;
}

.section#four {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 40% 60%;
    position: relative;
  }

.section#three > .text {
  grid-column: 2 / 3;
  position: relative;
}

.section#three > .graph {
  grid-column: 0 /2; 
  grid-row: 1;
  position: relative;
}
.section#resource {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 33% 33% 33%;
    font-size: large;
    /* color: #ffffff; */
    font-family: 'Open Sans', sans-serif;
}

.section#socials {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 50% 50%;
    margin-bottom: 0%;
}
/* #feature{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .fixed-bg::before{
    content: "";
    background-image: url('featureimg.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
  }
  .reliable{
      margin-left: 10%;
      margin-right: 10%;
      color:#C5DD22;
  }
  .text{
      margin-left: 5%;
  }
 
/* svg {
  width: 100%;
  height: 100%;
  min-height: 100px;
  background-color: #333;
  position: relative;
}

.node {
    stroke: #fff;
    stroke-width: 0px;
    position: relative;
}

.link {
    stroke: #999;
    stroke-opacity: .4;
    stroke-width: 0.5;
    position: relative;
}

.group {
    stroke: #fff;
    stroke-width: 1.5px;
    fill: #fff;
    opacity: 0.05;
    position: relative;
}
.svg-tooltip {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple   Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: rgba(69,77,93,.9);
    border-radius: .1rem;
    color: #fff;
    display: block;
    font-size: 12px;
    max-width: 320px;
    padding: .2rem .4rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    z-index: 300;
    visibility: hidden;
  }
.menuitems rect {
fill: white;
}

.menuitems:hover rect { 
fill: gray;
}

.menuitems:hover text { 
cursor: default;
} */

/* } */